{% extends 'base.html.twig' %}
{% set page_title = 'About us' %}
{% block body %}
    <div class="c-about-us__header background-color-gradient-161541">
        <div class="central-content">
            <h2 class="color-fff font-montserrat-700 font-size-48 text-align-center verical-align-middle">
                Transform ideas into Business Value
            </h2>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 70">
            <path fill="#FFF" fill-rule="evenodd" d="M1280 .22L0 70h1280z"/>
        </svg>
    </div>
    <div class="central-content-994">
        <p class="c-about-us__paragraph padding-top-60">
            <span class="bold">Innovation is a business accelerator.</span> With more than 250 projects, products and new business<br/>
            models (services), at all stages of development, it contributes to delivering 1/3rd of<br/>
            our topline growth every year. <br/>
            <br/>
            To achieve this result, a community of over 800 people from brand & market companies, involved<br/>
            in transversal teams gathering people from marketing, finance, operations, legal… invests money,<br/>
            time and passion into creating today and tomorrow’s successes. <br/>
            <br/>
            <span class="bold">And we know, it’s not an easy challenge.</span>
        </p>
        <div class="c-learn-article-page__quote">
            <div class="title">
                <span class="quote-left"></span>
                <span>
                    To me, ideas are worth nothing unless executed. They are<br/>
                    just a multiplier. Execution is worth millions.
                </span>
                <span class="quote-right"></span>
            </div>
            <div class="subtitle">Steve Jobs</div>
        </div>
        <p class="c-about-us__paragraph padding-bottom-60">
            <span class="bold">Innovation is an expertise.</span> It’s not enough to have a (good) idea. Creating something new that<br/>
            appeals to consumers and generates new business value can be challenging in many ways, and at <br/>
            many moments of your innovation’s lifecycle. Even for line extensions on our major brands.<br/>
            <br/>
            <span class="bold">Innovation is everything that happens after having an idea.</span><br/>
            <br/>
            That’s why as your Global Innovation Team, our mission <span class="bold">is to support you in your innovation <br/>
            journey, from idea to scale.</span>
        </p>
        <h2 class="color-000 font-montserrat-700 font-size-48 text-align-center padding-top-40">
            How can we help?
        </h2>
        <p class="c-about-us__paragraph padding-top-60">
            We have defined 4 key levers that will help you accelerate your innovation’s efforts, and on which 
            we can provide support:
        </p>
        <div class="c-about-us__key-levers overflow-hidden padding-top-60 padding-bottom-50">
            <div class="column-percent-50 c-about-us__lever">
                <div class="c-about-us__lever-title" style="width:230px; background-size:230px 101px; background-image:url({{ asset('/images/about-us/bandeau-jaune@3x.png') }});">
                    <span class="bullet-point">1.</span>Build culture
                </div>
                <p class="c-about-us__paragraph">
                    Inspire people, build momentum; <br/>
                    encourage your teams to explore, to <br/>
                    shake up existing frameworks and <br/>
                    create the conditions for collaboration <br/>
                    that foster innovation
                </p>
            </div>
            <div class="column-percent-50 c-about-us__lever padding-left-60" style="margin-bottom:217px;">
                <div class="c-about-us__lever-title" style="width:275px; background-size:275px 101px; background-image:url({{ asset('/images/about-us/bandeau-vert@3x.png') }});">
                    <span class="bullet-point">2.</span>Empower people
                </div>
                <p class="c-about-us__paragraph">
                    Identify the talented, nonconformist <br/>
                    people who naturally challenge the <br/>
                    status quo and put in place a shared <br/>
                    methodology to promote cross- <br/>
                    functional teams for testing & learning <br/>
                    on the field at an early stage<br/>
                </p>
            </div>
            <div class="column-percent-50 c-about-us__lever">
                <div class="c-about-us__lever-title" style="width:275px; background-size:275px 101px; background-image:url({{ asset('/images/about-us/bandeau-bleu@3x.png') }});">
                    <span class="bullet-point">4.</span>Measure progress
                </div>
                <p class="c-about-us__paragraph">
                    Drive top-line growth in your <br/>
                    organization and support the <br/>
                    development of new ideas when <br/>
                    ; take stock of the findings <br/>
                    and share them to build on your ability <br/>
                    to adapt swiftly to consumers/ <br/>
                    customers shifts in the near future
                </p>
            </div>
            <div class="column-percent-50 c-about-us__lever padding-left-60">
                <div class="c-about-us__lever-title" style="width:275px; background-size:275px 101px; background-image:url({{ asset('/images/about-us/bandeau-rose@3x.png') }});">
                    <span class="bullet-point">3.</span>Accelerate projects
                </div>
                <p class="c-about-us__paragraph">
                    Select the ideas with most market <br/>
                    potential, manage a balanced portfolio <br/>
                    of ideas at different paces of <br/>
                    development and with varying levels of <br/>
                    disruptiveness, provide sustainable <br/>
                    funding to the most promising ideas <br/>
                    over time
                </p>
            </div>
        </div>
    </div>
    <div class="c-about-us__download-leaflet">
        <div class="central-content-994">
            <img src="/images/welcome/illus-innovation-leaflet.png" width="185" height="140" class="margin-bottom-20"/>
            <p class="c-about-us__paragraph">
                For more on each of these pillars and how the team can support your innovation journey,<br/>
                <span class="bold">download our innovation leaflet:</span>
            </p>
            <a class="hub-button light-blue pri-generate-activity-download-action" data-action_id="21" target="_blank" href="/documents/Leading%20for%20Innovation%20in%20your%20organisation%20.pdf">
                <span class="icon-ddl"></span>
                <span>Innovation leaflet</span>
            </a>
        </div>
    </div>
    <div class="central-content-994 padding-top-60 padding-bottom-20">
        <h2 class="color-000 font-montserrat-700 font-size-48 text-align-center">
            Why an Innovation Hub?
        </h2>
        <p class="c-about-us__paragraph padding-top-60">
            With over 250 projects in the Group, we needed a common language / methodology along with a 
            common way to measure progress and identify the most promising innovations. That was the aim 
            of the Innovation Pipeline from 2016 to today. But it was just a start! <br/>
            <br/>
            Based on 2.5 years of learnings & feedbacks, we’ve identified the main friction point for all teams <br/>
            doing innovation in the Group: the innovation/market fit. <br/>
            <br/>
            And that’s what the HUB wants to help you tackle. By enabling you to:
        </p>
        <ul class="c-about-us__list" style="margin-top:60px;">
            <li>
                <span class="bold">MANAGE</span> your innovations with your team directly from the tool to get<br/>
                insights and data to help you move your project further
            </li>
            <li>
                <span class="bold">MONITOR</span> your innovation portfolio, to maximize ROI
            </li>
            <li>
                <span class="bold">CONNECT</span> with peers & experts in the Group to get early feedback and<br/>
                support from collective intelligence
            </li>
            <li>
                <span class="bold">LEARN</span> key skills to grow your innovation expertise and unlock your<br/>
                challenges along the way
            </li>
            <li>
                <span class="bold">EXPLORE</span> Pernod Ricard innovations, best practices, but also competitors
            </li>
        </ul>
    </div>
    <div class="c-about-us__hero" style="background-image:url({{ asset('/images/about-us/hero-book-mockup.jpg') }}); height:369px;"></div>
    <div class="central-content-994 padding-top-60 padding-bottom-60">
        <h3 class="color-000 font-montserrat-700 font-size-30">One focus: a user-centric platform</h3>
        <p class="c-about-us__paragraph padding-top-40">
            As for the Pipeline, the HUB is designed with a user-centric approach: every month we release a<br/>
            new upgrade, removing everything that is not useful, improving what you are already using, and <br/>
            adding new promising features. With one objective: <span class="bold">give you everything you need to help you <br/>
            grow your innovation’s business impact</span> - and help you go through the journey as smooth as <br/>
            possible. Stay tuned for news!
        </p>
    </div>
    <div class="background-color-gradient-005095">
        <div class="central-content-994 padding-top-60 padding-bottom-60">
            <h2 class="color-fff font-montserrat-700 font-size-48 text-align-center">
                Meet the Global Innovation Team
            </h2>
            <div class="overflow-hidden c-about-us__content-person margin-top-60">
                <div class="column-percent-50">
                    <div class="c-about-us__person">
                        <div class="c-about-us__person-photo">
                            <img src="{{ asset('/images/about-us/people-paco.jpg') }}" alt="" />
                        </div>
                        <div class="c-about-us__person-name">Paco Recuero</div>
                        <div class="c-about-us__person-role">Global Innovation Director</div>
                        <a href="mailto:paco.recuero@pernod-ricard.com" class="c-about-us__person-contact hub-button light-blue">Get in touch</a>
                        <div class="c-about-us__person-description">
                            Paco has been in Pernod Ricard since 2004. He has worked in<br/>
                            both brand company (Global Brand Director Gins @CBL) and<br/>
                            market company (Marketing Director @PR Spain). He became<br/> 
                            Group Global Innovation Director in September ‘18. 
                        </div>
                    </div>
                </div>
                <div class="column-percent-50">
                    <div class="c-about-us__person">
                        <div class="c-about-us__person-photo">
                            <img src="{{ asset('/images/about-us/people-astrid.jpg') }}" alt="" />
                        </div>
                        <div class="c-about-us__person-name">Astrid Froment</div>
                        <div class="c-about-us__person-role">Global Innovation Leader</div>
                        <a href="mailto:astrid.froment@pernod-ricard.com" class="c-about-us__person-contact hub-button light-blue">Get in touch</a>
                        <div class="c-about-us__person-description">
                            Astrid has been in Pernod Ricard since 2001. She has worked <br/>
                            in marketing teams in both brand and market companies, <br/>
                            before creating the Kangaroo Fund in 2012 and the Global <br/>
                            Innovation team in 2015. She is responsible for new business <br/>
                            models (services) and experimentation <br/>
                            methdology. 
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-hidden c-about-us__content-person margin-top-60">
                <div class="column-percent-50">
                    <div class="c-about-us__person">
                        <div class="c-about-us__person-photo">
                            <img src="{{ asset('/images/about-us/people-emily.jpg') }}" alt="" />
                        </div>
                        <div class="c-about-us__person-name">Emily Lara Rosales</div>
                        <div class="c-about-us__person-role">Global Innovation Acceleration Manager</div>
                        <a href="mailto:emily.lararosales@pernod-ricard.com" class="c-about-us__person-contact hub-button light-blue">Get in touch</a>
                        <div class="c-about-us__person-description">
                            Emily was a strategic planner and innovation consultant in <br/>
                            branding and media agencies for 7 years before joining the <br/>
                            global innovation team in 2015.<br/>
                            She is responsible for the innovation Hub, for accelerating the <br/>
                            innovation culture in the Group, and for all things product <br/>
                            management methodology / metrics.<br/>
                        </div>
                    </div>
                </div>
                <div class="column-percent-50">
                    <div class="c-about-us__person">
                        <div class="c-about-us__person-photo">
                            <img src="{{ asset('/images/about-us/people-simon.jpg') }}" alt="" />
                        </div>
                        <div class="c-about-us__person-name">Simon Vignau</div>
                        <div class="c-about-us__person-role">Global Innovation Apprentice</div>
                        <a href="mailto:simon.vignau@pernod-ricard.com" class="c-about-us__person-contact hub-button light-blue">Get in touch</a>
                        <div class="c-about-us__person-description">
                            Simon is currently a masters degree in wine and spirits at <br/>
                            Kedge business school in Bordeaux. Since he joined the team <br/>
                            in Sept 2018, he is responsible for managing the innovation <br/>
                            hub, data captures and innovation consolidation for the <br/>
                            Group. He also contributes to growing the innovation <br/>
                            knowledge and culture.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# <div class="c-learn-article-page__hero background-color-gradient-161541" style="height:316px;">
        <div class="central-content">
            <h2 class="font-montserrat-700 font-size-48 text-align-center verical-align-middle">
                Transform ideas into Business Value
            </h2>
        </div>
        <div class="c-learn-article-page__hero-triangle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon fill="white" points="100,0 0,100 0,0"/>
            </svg>
        </div>
    </div> #}
{% endblock %}