{% extends 'base.html.twig' %}
{% set page_title = 'Defining a consumer benefit' %}
{% block body %}
    <div class="c-learn-article-page__article" style="">
        <div class="position-relative overflow-hidden">
            <div class="c-learn-article-page__content">
                <div class="padding-left-40 padding-right-40">
                    <h2 class="c-learn-article-page__heading">Defining a consumer benefit</h2>
                </div>
                <div class="c-learn-article-page__hero">
                    <img
                            class="c-learn-article-page__hero-image"
                            src="{{ asset('/images/learn/consumer-benefit/consumer-benefit-hero.jpg') }}"
                    />
                    <div class="c-learn-article-page__hero-triangle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                            <polygon fill="white" points="100,0 0,100 0,0"/>
                        </svg>
                        <div class="c-learn-article-page__meta">
                            <div class="padding-left-40 margin-top-20">
                                4-5 mn reading
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-left-40 padding-right-40">
                    {# INTRO #}
                    <div class="c-learn-article-page__introduction">
                        Capturing the consumer benefit means you have a clear understanding of who will be ready to pay
                        for your innovation, and why. You can explain what, concretely, comforts you in thinking these
                        people will actually buy your innovation.
                    </div>
                    {# <img src="{{ asset('/images/learn/incubate-funnel.png') }}" alt="" class="c-learn-article-page__image"> #}
                    {# WHY #}
                    <h2 class="c-learn-article-page__paragraph-heading">Why?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">An innovation’s value is always contextual: it will be enjoyed by a specific person, for a specific occasion, in a specific environment.</span>
                        The clearer you are on the benefit your innovation delivers, for whom, where and when, the
                        easier it will be to sell it: you will know where the value comes from, backed by facts.
                    </p>
                    <img src="{{ asset('/images/learn/consumer-benefit/consumer-benefit-why.png') }}" alt=""
                         class="c-learn-article-page__image">
                    {# WHAT #}
                    <h2 class="c-learn-article-page__paragraph-heading">What?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">All minor & major breakthroughs in your consumer understanding will help you find out what benefit they get from your innovation.</span>
                        Based on a strong consumer insight, your benefit is either the resolution of a consumer <span
                                class="bold">pain or problem</span> (eg. bad outcomes, risks or obstacles that consumers
                        want to avoid and that your innovation can solve), or a <span class="bold">gain</span> (eg.
                        outcomes they expect, desire or dream to achieve, and that your innovation can help obtain).
                        Whether it’s one or the other, your challenge is to be specific by understanding <span
                                class="bold">the one single benefit that matters most to your consumers.</span> It’s
                        tempting to say that your innovation brings numerous benefits, but you are looking for one that
                        will resonate enough to create a switch in behavior: consumers buy your innovation instead of
                        any other product or service because…
                    </p>
                    {# HOW #}
                    <h2 class="c-learn-article-page__paragraph-heading">How?</h2>
                    <p class="c-learn-article-page__paragraph">
                        Research, both qualitative and quantitative, is very helpful, especially in Discover stage.
                        However, to learn what you need to learn to craft a unique value proposition, you will need to
                        get closer to your consumers, <span class="bold">on the field: like an anthropologist, get out of the building and understand their way of living, habits, way of thinking, values…</span>
                        not only from what an agency tells you but from what you will observe with your own eyes:
                    </p>
                    <ul class="c-learn-article-page__list">
                        <li><span class="bold">Be with</span> those people who are going to buy your innovation: spend
                            time with them
                        </li>
                        <li><span class="bold">Be them</span>: encourage & understand their interactions</li>
                        <li><span class="bold">Know them</span>: collect information on them</li>
                    </ul>
                    <p class="c-learn-article-page__paragraph">
                        Be pragmatic: <span class="bold">your innovation’s benefit must be tangible, whether it is functional or emotional</span>
                        <br><br>
                        Be specific: describe the context in which your innovation will deliver most value to your
                        consumers
                    </p>
                    <img src="{{ asset('/images/learn/consumer-benefit/consumer-benefit-how.jpg') }}" alt=""
                         class="c-learn-article-page__image">
                    <p class="c-learn-article-page__paragraph">
                        Probably, you will start with a hypothesis, which will evolve as you dig into learnings. That’s
                        good sign. As long as you keep your consumer FIRST, you are putting all chances on your
                        innovation’s side. <br/><br/>
                        <span class="bold">
                            Get in touch with your local insights team, they can definitely help you nail
                            your insight &amp; benefit.
                        </span><br/><br/>
                        Also, do have a look at all the tools &amp; material available on <a
                                href="https://mybrands.pernod-ricard.com/content/consumer-centric"
                                class="hub-link-on-hover-yellow" target="_blank">MyConsumer portal.</a>
                    </p>
                    <div class="c-learn-article-page__quote">
                        <div class="title">
                            <span class="quote-left"></span>
                            <span>
                                Find a way to be personal with your<br/>
                                consumers and connect with them on a<br/>
                                human level.
                            </span>
                            <span class="quote-right"></span>
                        </div>
                        <div class="subtitle">Andrew Reid</div>
                    </div>
                </div>
                <div class="c-learn-article-page__emphasize-section">
                    <h2 class="c-learn-article-page__paragraph-heading subject">Example</h2>
                    <h2 class="c-learn-article-page__paragraph-heading">Fever Tree</h2>
                    <div class="c-learn-article-page__quote margin-bottom-30">
                        <div class="title">
                            <span class="quote-left"></span>
                            <span style="max-width: 630px;">
                                <span class="font-weight-500">I</span> love Gin &amp; Tonic, it’s delicious, fresh &amp; so easy to make.<br/>
                                I have great Gins in my bars <span class="font-weight-500">but</span> it’s impossible to find<br/>
                                good Tonics to mix with it, <span class="font-weight-500">because</span> all tonics I find are too<br/>
                                industrial, sugary &amp; full of additives.<br/>
                                End-results, I ruin my great Gin with bad Tonic.
                            </span>
                            <span class="quote-right"></span>
                        </div>
                    </div>
                    <div class="learn-arrow-separator blue"></div>
                    <div class="font-montserrat-500 color-000 line-height-1-5 text-align-center font-size-28">
                        If 3/4 of your cocktails is a mixer,<br/>
                        mix with the best.
                    </div>
                    <img src="{{ asset('/images/learn/consumer-benefit/consumer-benefit-fever-tree-example.jpg') }}"
                         alt="" class="c-learn-article-page__image">
                </div>
                <div class="padding-left-40 padding-right-40">
                    {# CHALLENGES #}
                    <h2 class="c-learn-article-page__paragraph-heading">Challenges</h2>
                    <p class="c-learn-article-page__paragraph">
                        Time is a precious resource, and you might feel unable to go out of the building to meet
                        consumers in their real life. But put it this way: if you do not do it in early stages, you
                        might miss some crucial piece of insight that can have a strong negative impact in later stages
                        of your innovation’s development. Data from an agency, however valuable it may be, is third
                        party. As much as possible try to complement it with your own observation.
                    </p>
                    {# QUESTIONS #}
                    <h2 class="c-learn-article-page__paragraph-heading">10 Questions to have in mind</h2>
                    <ul class="c-learn-article-page__list">
                        <li>Can you make a portrait of the people that would love best your idea (early adopters)?</li>
                        <li>Do you know why these people will buy the innovation first? </li>
                        <li>Have you identified a consumer behaviour shift your innovation taps into? Is this consumer opportunity worth chasing?</li>
                        <li>When & where will your unique value proposition work best?</li>
                        <li>When will people experience your innovation? With whom? In which particular occasion?</li>
                        <li>Can you describe your consumer benefit in a tweet, without any jargon?</li>
                        <li>Is it a more functional or emotional benefit?</li>
                        <li>What data / observations comfort you in thinking this is why people will buy your innovation?</li>
                        <li>Have you talked yourself to real consumers, in a real consumption environment, about this innovation?</li>
                        <li>What are the other benefits your innovation could bring? What made you discard the ones you did not keep?</li>
                    </ul>
                </div>
                {# <div class="c-learn-article-page__overflowing-content"></div> #}
            </div>
            <div class="c-learn-article-page__sidebar">
                <div class="padding-60 padding-left-40 padding-right-40">
                    <h2 class="c-learn-article-page__sidebar-headline">External Inspiration</h2>
                    <div class="c-learn-article-item__element standalone">
                        <a href="https://www.youtube.com/watch?v=2FVEYf0TzUw" target="_blank">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/consumer-benefit/video-bring-back-love.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Bring back the Love - Advertiser versus Consumer
                            </div>
                        </a>
                        <div class="c-learn-article-item__meta">
                            2:05
                        </div>
                    </div>
                    <div class="c-learn-article-item__element standalone padding-top-30">
                        <a href="https://www.youtube.com/watch?v=ReM1uqmVfP0" target="_blank">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/consumer-benefit/video-consumers-focus-group.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Do Consumers Always Know What They Want? The Focus Group
                            </div>
                        </a>
                        <div class="c-learn-article-item__meta">
                            3:12
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}