{% extends 'base.html.twig' %}
{% set page_title = 'Nailing a unique value proposition' %}
{% block body %}
    <div class="c-learn-article-page__article" style="">
        <div class="position-relative overflow-hidden">
            <div class="c-learn-article-page__content">
                <div class="padding-left-40 padding-right-40">
                    <h2 class="c-learn-article-page__heading">Nailing a unique value proposition</h2>
                </div>
                <div class="c-learn-article-page__hero">
                    <img
                            class="c-learn-article-page__hero-image"
                            src="{{ asset('/images/learn/nailing/nailing-vp-hero.jpg') }}"
                    />
                    <div class="c-learn-article-page__hero-triangle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                            <polygon fill="white" points="100,0 0,100 0,0"/>
                        </svg>
                        <div class="c-learn-article-page__meta">
                            <div class="padding-left-40 margin-top-20">
                                6-7 mn reading
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-left-40 padding-right-40">
                    {# INTRO #}
                    <div class="c-learn-article-page__introduction">
                        A unique value proposition is a short, clear and compelling message that states WHAT’S NEW in
                        your innovation, and WHY it is worth consumers’ money. It’s what a consumer would say to
                        another, to advise them to try it.
                    </div>
                    {# WHY #}
                    <h2 class="c-learn-article-page__paragraph-heading">Why?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">There are already so many products and services out there.</span> Why would
                        people buy yours instead of something else? Why would they recommend it to someone?
                        <br><br>
                        An idea is not unique per say. It’s consumers, and what they will like about it, that make it
                        unique. The sooner you try to understand what makes that uniqueness, the easier it will be to
                        communicate and to scale. It will also prevent you from late learnings with costly iterations.
                    </p>
                    <img src="{{ asset('/images/learn/nailing/nailing-vp-why.png') }}" alt=""
                         class="c-learn-article-page__image">
                    {# WHAT #}
                    <h2 class="c-learn-article-page__paragraph-heading">What?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">Think of a tweet or a punchline. Short and impactful are key to make it easy to communicate and to remember.</span>
                        <br><br>
                        It’s tempting to say everything about your innovation, but the more you say the less specific
                        you are. By being generic, your consumers will not be able to identify your innovation as a
                        solution for their specific need.
                    </p>
                    <img src="{{ asset('/images/learn/nailing/nailing-vp-what.jpg') }}" alt=""
                         class="c-learn-article-page__image">
                    <div class="c-learn-article-page__quote">
                        <div class="title">
                            <span class="quote-left"></span>
                            <span>
                                Your customers are the judge, jury, and<br/>
                                executioner of your value proposition. They<br/>
                                will be merciless if you don’t find fit!
                            </span>
                            <span class="quote-right"></span>
                        </div>
                        <div class="subtitle">Scott Belsky</div>
                    </div>
                    {# HOW #}
                    <h2 class="c-learn-article-page__paragraph-heading">How?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">Don’t be upset if it doesn’t come right away.</span> Nailing a good value
                        proposition is a challenge for every innovator. Don’t be afraid to ask for feedback (if you are
                        a project manager, use the feedback tool on your project page), to tweak words, to iterate… to
                        come up with the best version you can think of so far. Do it as much as possible before you
                        scale. It will cost you less and avoid delays.
                        <br><br>
                        Think about a simple way to tell your story: a functional or emotional benefit, a tone of voice,
                        visual symbols, a color code and a name… since you must choose, which do you think will resonate
                        most with consumers?
                        <br><br>
                        <span class="font-work-sans-600 font-size-24 line-height-30">To define it, keep in mind these 3 core principles:</span>
                        <br><br>

                        <span class="font-work-sans-600 font-size-22 line-height-30">1. Value is always contextual</span><br/>
                        It should appeal only to certain people, for specific occasions, in a certain type of
                        environment – at home, in a high energy club, in a low energy bar… Do not try to talk to
                        everybody, concentrate on solving only one problem at a time. Trying to answer to several
                        operational objectives puts your value at risk. <br/><br/>

                        <span class="font-work-sans-600 font-size-22 line-height-30">2. Value is polarizing</span><br/>
                        It has got traction naturally. Its singularity is perceived by early adopters, the ones who will
                        buy you first. Do not try to talk to everybody otherwise nobody will notice you.<br/><br/>

                        <span class="font-work-sans-600 font-size-22 line-height-30">3. Value provokes word of mouth</span><br/>
                        It should be easily understood by a friend, so no marketing jargon shall be used. There should
                        be no need for huge marketing push campaigns either. It is all about aspirational stories
                        capturing people’s attention, that can become viral.
                    </p>
                </div>
                <div class="c-learn-article-page__emphasize-section">
                    <h2 class="c-learn-article-page__paragraph-heading subject">Examples</h2>
                    <h2 class="c-learn-article-page__paragraph-heading">Jameson Caskmates</h2>
                    <p class="c-learn-article-page__paragraph">
                        A genuine and authentic story about two craftsmen collaborating to
                        make something greater than the sum of it's parts. Finished in Craft
                        Stout Barrels for new notes of chocolate, coffee &amp; butterscotch, it is
                        the perfect whiskey for Craft Beer Drinkers.
                    </p>
                    <img src="{{ asset('/images/learn/nailing/nailing-vp-caskmates-example.jpg') }}" alt=""
                         class="c-learn-article-page__image">
                    <br/>
                    <h2 class="c-learn-article-page__paragraph-heading">Crown Royal Apple</h2>
                    <p class="c-learn-article-page__paragraph">
                        Launched in 2016 in the US, Crown Royal Apple sold 1.6M cases its first year. In its
                        TV commercial, the value proposition is expressed in a very simple and
                        straightforward way: at the end of the ad you know what you can expect / what
                        you get, and how to enjoy it.
                    </p>
                    <a href="https://www.ispot.tv/ad/Aoct/crown-royal-regal-apple-smooth" target="_blank"
                       class="content-iframe" style="margin: 20px auto 0; max-width: 580px;">
                        <img src="{{ asset('/images/learn/nailing/nailing-vp-crown-example.jpg') }}"/>
                        <iframe id="iframe-ispot" src="" frameborder="0" allowfullscreen webkitallowfullscreen
                                mozallowfullscreen></iframe>
                    </a>
                </div>
                <div class="padding-left-40 padding-right-40">
                    {# CHALLENGES #}
                    <h2 class="c-learn-article-page__paragraph-heading">Challenges</h2>
                    <p class="c-learn-article-page__paragraph">
                        Your innovation name and the occasion / perfect serve will embody your value proposition. They
                        are key to convey what makes your innovation unique. Do not hesitate to give them some extra
                        thought while in test & learn stages. Naming especially: giving a name to an offer is complex as
                        it will remain the same once in market. Think longevity and stickiness!
                    </p>
                    {# QUESTIONS #}
                    <h2 class="c-learn-article-page__paragraph-heading">8 Questions to have in mind</h2>
                    <ul class="c-learn-article-page__list">
                        <li>Can I clearly express my unique value proposition in a tweet (141 characters)?</li>
                        <li>In 3 bullet points, can I say how my innovation is unique and different from what already
                            exists?
                        </li>
                        <li>Have I tested it with people around? (early adopters, friends & family, colleagues at work,
                            community from an existing online platform, people attending festivals…): do they understand
                            the idea without needing to give more details? Do they understand the benefit they get from
                            it?
                        </li>
                        <li>Does the name clearly communicate the benefit or personality of your Innovation?</li>
                        <li>The Usage: Do you understand the best way to experience it? Perfect Serve (for products
                            only) ‘the best way to drink it’ (eg spritz)
                        </li>
                        <li>Name clearly transmitting value at a point of purchase / plus pack for products only</li>
                        <li>Nuggets & Disruptive assets highlighting ‘reason to buy’, what clear and aspirational
                            nuggets does capture consumers' attention? How will it get naturally share of voice?
                        </li>
                        <li>Simple and unique value proposition, do you know how to transmit simply value to consumers?
                            Does it satisfy entirely new set of needs that consumers previously didn't perceive? Is the
                            newness clearly understood, straight forward? Any unfair competitive advantage?
                        </li>
                    </ul>
                </div>
                {# <div class="c-learn-article-page__overflowing-content"></div> #}
            </div>
            <div class="c-learn-article-page__sidebar">
                <div class="padding-60 padding-left-40 padding-right-40">
                    <h2 class="c-learn-article-page__sidebar-headline">External Inspiration</h2>
                    <div class="c-learn-article-item__element standalone">
                        <a href="https://www.ted.com/talks/simon_sinek_how_great_leaders_inspire_action"
                           target="_blank">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/nailing/video-simon-why.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Start with WHY - Simon Sinek
                            </div>
                        </a>
                        <div class="c-learn-article-item__meta">
                            17:58
                        </div>
                    </div>
                    <div class="c-learn-article-item__element standalone padding-top-30">
                        <a href="https://www.youtube.com/watch?v=xP9zqcUn6jQ" target="_blank">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/incubation/video-go-beyond.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Value Propositions - Mohanbir Sawhney - Kellogg School of Management
                            </div>
                        </a>
                        <div class="c-learn-article-item__meta">
                            5:19
                        </div>
                    </div>
                    <div class="c-learn-article-item__element standalone padding-top-30">
                        <a href="https://strategyzer.com/books/value-proposition-design" target="_blank">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/nailing/book-vpd.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Value Proposition Design (book), Strategyzer
                            </div>
                        </a>
                    </div>
                    <div class="c-learn-article-item__element standalone padding-top-30">
                        <a href="https://medium.com/swlh/slack-copywriting-what-they-say-to-9-6-million-pageviews-every-month-4351888f1c2c"
                           target="_blank">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/nailing/article-slack-vp.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Refining your value proposition, example of Slack copywriting - article
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(window).load(function () {
                setTimeout(function () {
                    $('#iframe-ispot').attr('src', 'https://www.ispot.tv/share/Aoct');
                }, 300);
            });
        </script>
    </div>
{% endblock %}