{% extends 'base.html.twig' %}
{% set page_title = 'New business' %}
{% block body %}
 <div class="c-learn-article-page__article" style="">
        <div class="position-relative overflow-hidden">
            <div class="c-learn-article-page__content">
                <div class="padding-left-40 padding-right-40">
                    <h2 class="c-learn-article-page__heading">New Business, how to strengthen your approach?</h2>
                </div>
                <div class="c-learn-article-page__hero">
                    <img
                
                            class="c-learn-article-page__hero-image  width-847 height-509"
                            src="{{ asset('/images/learn/new-business/article-newbusiness.jpg') }}"
                    />
                    <div class="c-learn-article-page__hero-triangle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                            <polygon fill="white" points="100,0 0,100 0,0"/>
                        </svg>
                        <div class="c-learn-article-page__meta">
                            <div class="padding-left-40 margin-top-20">
                                4-5 mn reading
                            </div>
                        </div>
                    </div>
                </div>

                   <div class="padding-left-40 padding-right-40">
                    {# INTRO #}
                    <div class="c-learn-article-page__introduction">
                      You have an intraprenarial spirit. You are currently creating and developing new revenue streams within your affiliate.
                       It means you are working on disruptive Innovation! This article is made for you. 
                    </div>

                   {# WHY #}
                    <h2 class="c-learn-article-page__paragraph-heading">Why?</h2>
                    <p class="c-learn-article-page__paragraph p">
                        <span class="bold">You are dealing with a project going beyond the core business:</span>
                       exploring a business idea, selling products beyond liquid, services & experiences, or building new B to B revenues streams, new B to C Route to Market, for example.
                     <br><br>
                        Developing New Business for Pernod Ricard means<span class="bold"> adopting new ways of working using Business Model </span>
                          that show the logic of how a new business activity intend to make money.
                    </p>


                   {# WHAT #}
                    <h2 class="c-learn-article-page__paragraph-heading">What?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">The Business Model Canvas is like a strategic blueprint </span>
                        structuring your approach, new processes and financial viability. It is assessing value of a new business idea and highlighting areas to experiment,
                         where you need to lower uncertainties. Its visual chart captures 4 key elements: Innovation <span class="bold">Sweet Spot, Consumer Traction & Business Stickiness, New key Activities & Value Chain Expertise,
                          New Revenue Streams & Burn Rate. </span> 
                    </p>

                    <img src="{{ asset('/images/learn/new-business/NBM-canvas.jpg') }}" alt=""
                         class="c-learn-article-page__imagenewbusiness">


                           {# HOW #}
                    <h2 class="c-learn-article-page__paragraph-heading">How?</h2>
                    <p class="c-learn-article-page__paragraph ">
                        <span class="bold">This tool comes from the Start Up world </span>
                        and has been adapted to Pernod Ricard Culture to capture any New Business in the same format and build on our collective intelligence at a group level.
                        In a Business Model Canvas, each block is interlinked. When you iterate the content of one block, other blocks could be impacted.
                        <br><br>
                    {# Innovation Sweet Spot#}

                        <span class="titre">
                       Innovation Sweet Spot 
                        </span>
                        <br><br>
                           <span class="titre">1.A Consumer benefit </span>
                            <br><br> 
                     Any people's unmet need, pain point, frustration...? Is it expressed putting yourself in the consumer shoes? 
                           <br><br> 
                         <span class="titre">2.B Usage & Occasion </span>
                           <br><br>
                        <span> When and how the value proposition works best? Do you unlock any new usage? </span>
                         <br><br>
                         <span class="titre">2.C Route to consumers/channels</span>
                           <br><br>
                        <span> What’s the most adapted Route to Market to reach early adopters? Which ones work bests? </span>
                    </p>

               
            
                       <p class="c-learn-article-page__paragraph">
                        
                        <span class="bold  font-size-26">
                       Consumer traction & Business Stickiness 
                        </span>
                        <br><br>

                           <span class="bold  font-size-26">2.A Early Adopters </span>
                            <br><br> 
                           For whom do you create value? People sharing the same values with the strongest pain point? 
                           <br><br> 
                         <span class="bold  font-size-26">2.B Usage & Occasion </span>
                           <br><br>
                        <span> When and how the value proposition works best? Do you unlock any new usage?</span>
                         <br><br>
                         <span class="bold  font-size-26">2.C Route to consumers/channels</span>
                           <br><br>
                        <span>What’s the most adapted Route to Market to reach early adopters? Which ones work bests? </span>
                    </p>
                   


                     <p class="c-learn-article-page__paragraph">
                        
                        <span class="bold  font-size-26">
                       New Key activities and value chain expertise
                        </span>
                        <br><br>

                           <span class="bold  font-size-26">3.A Value Chain Expertise</span>
                            <br><br> 
                           Out of all the activities to transform an idea into revenue: procurement, production, marketing, commercial, distribution, consumer experience, after sales... What could be done with the support from the core business? What require new external expertise?Out of all the activities to transform an idea into revenue: procurement, production, marketing, commercial, distribution, consumer experience,
                            after sales... What could be done with the support from the core business? What require new external expertise?
                           <br><br> 
                         <span class="bold  font-size-26">3.B External partnerships</span>
                           <br><br>
                        <span> What collaborations will help you to grab expertise you do not have yet to accelerate the development of the new business?</span>
                         <br><br>
                         <span class="bold  font-size-26">3.C Key activities & metrics </span>
                           <br><br>
                        <span>What key activities are critical to build the new Business, to engage with customers/consumers? What type of tests do you need to put in place to reduce uncertainties, with its metrics associated to follow progress? </span>
                    </p>
                     

                      <p class="c-learn-article-page__paragraph">
                        
                        <span class="bold  font-size-26">
                       Burn rate & New revenue streams
                        </span>
                        <br><br>

                           <span class="bold  font-size-26">4.A New Revenue streams & pricing</span>
                            <br><br> 
                           What’s the new Business revenue model? For what value are your early adopter willing to pay for? How would they prefer to pay?
                           <br><br> 
                         <span class="bold  font-size-26">4.B Burn rate & Costs structure </span>
                           <br><br>
                        <span>What’s the funding till inflexion point, the investment model? What’s the most important costs inherent to your business model? Resources, spending...</span>

                    </p>

               


                     


                  <img src="{{ asset('/images/learn/new-business/NBM-legende.jpg') }}" alt=""
                         class="c-learn-article-page__imagenewbusiness">

                    {# CHALLENGES #}
                    <h2 class="c-learn-article-page__paragraph-heading">Challenges</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">When you identify an opportunity for a new revenue stream </span>
                        with the same business idea, it could be for a different type of early adopters, or a slightly different usage using a different RTM. For example, 
                        if you extend your new activity from “B to C” to “B to B”,  <span class="bold">you will need to amend different blocks, it becomes then a different business model.
                       </span> 

                        <p class="c-learn-article-page__paragraph">
                        <span class="bold"> You can organize a brainstorming to capture your business model,</span>
                        review it along your experimentation plan with your team made of internal and external people. Every word counts and can make a difference while capturing the recipe for success. 
                        It is a great tool to use to guide an elevator pitch to your top management and communicate about your new Business internally. 
                       </span> 
                    </p>

     <img src="{{ asset('/images/learn/new-business/NBM-success.jpg') }}" alt=""
                         class="c-learn-article-page__imageNBM-success">

                 

                    {# TOP #}
                    <h2 class="c-learn-article-page__paragraph-heading">Top 3 tips to keep in mind</h2>
                    <ul class="c-learn-article-page__list">
                        <li> Without making money from day 1,<span class="bold"> no new business can survive for long
                       </span> </li>
                        <li> Do not fall in love with your new business idea, 
                      <span class="bold"> fall in love with a problem </span>
                      you are trying to solve for consumers/customers
                       </span> </li>
                        <li>  Make sure 
                      <span class="bold"> you have enough time and resources </span>
                      (external partners) to develop a new Business. This cannot be done on the top of your current job or even part time.
                       </span> </li>
                    </ul>
                </div>
                  <p class="c-learn-article-page__paragraph">
                        Dare become an internal entrepreneur and contact us if you need help sketching your first business model canvas!
                         <span class="bold"> if you need help sketching your first business model canvas!</span>
                       </span> 
                      </p>
       </div>
            <div class="c-learn-article-page__sidebar ">
                <div class="padding-left-40 padding-right-40 padding-top-70">
                    <h2 class="c-learn-article-page__sidebar-headline">More articles from the innovation Hub</h2>
                    <div class="c-learn-article-item__element standalone">
                        <a href="http://monetizinginnovation.com/"
                           target="_blank">
                        <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/nailing/nailing-vp-hero.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Nailing your unique value proposition
                            </div>
                     <p class="c-learn-article-page__paragraph">
                            A unique value proposition is a short, clear and compelling message that states WHAT’S NEW in your innovation.
                            </p>
                        </a>
                    </div>
                </div>
                
    <div class="padding-left-40 padding-right-40">
                    <div class="c-learn-article-item__element standalone ">
                        <a href="http://monetizinginnovation.com/"
                           target="_blank">
                    <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/consumer-benefit/consumer-benefit-hero.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                               Defining a consumer benefit
                            </div>
                             <p class="c-learn-article-page__paragraph ">
                         Capturing the consumer benefit means you have a clear understanding of who will be ready to pay for your innovat…
                            </p>
                        </a>
                    </div>
                </div>
                <div class="padding-left-40 padding-right-40">
                    <div class="c-learn-article-item__element standalone">
                        <a href="http://monetizinginnovation.com/"
                           target="_blank">
                           <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/sizing-prize/sizing-prize-hero.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Sizing the prize
                            </div>
                             <p class="c-learn-article-page__paragraph">
                           Innovation’s purpose is to deliver new value, for consumers and for our business. As you are going to inves…
                            </p>
                        </a>
                    </div>
                </div>
                </div>
                  </div>
              
            
         </div>
          
        </div>
         
    </div>
               
{% endblock %}