{% extends 'base.html.twig' %}
{% set page_title = 'Sizing the prize' %}
{% block body %}
    <div class="c-learn-article-page__article" style="">
        <div class="position-relative overflow-hidden">
            <div class="c-learn-article-page__content">
                <div class="padding-left-40 padding-right-40">
                    <h2 class="c-learn-article-page__heading">Sizing the prize</h2>
                </div>
                <div class="c-learn-article-page__hero">
                    <img
                            class="c-learn-article-page__hero-image"
                            src="{{ asset('/images/learn/sizing-prize/sizing-prize-hero.jpg') }}"
                    />
                    <div class="c-learn-article-page__hero-triangle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                            <polygon fill="white" points="100,0 0,100 0,0"/>
                        </svg>
                        <div class="c-learn-article-page__meta">
                            <div class="padding-left-40 margin-top-20">
                                4-5 mn reading
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-left-40 padding-right-40">
                    {# INTRO #}
                    <div class="c-learn-article-page__introduction">
                        Innovation’s purpose is to deliver new value, for consumers and for our business. As you are
                        going to invest time and money on an idea, you want to evaluate if it’s worth it or not. Sizing
                        the prize is scoping a source of business that is worth chasing, and having clarity on financial
                        rationale, in a strong business case.
                    </div>
                    {# WHY #}
                    <h2 class="c-learn-article-page__paragraph-heading">Why?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">All innovation ideas aim at delivering incremental business value, but not all succeed. It’s part of the innovation game.</span>
                        Innovation is a journey, with numerous challenges popping up between idea and success. And
                        investment at every step. Building a business case based on opportunity sizing and value
                        potential <span class="bold">right from the start</span> will help you decrease risk of failure,
                        decide if a project is worth pursuing or not at any stage, and help you make investment
                        allocation decisions along the way.
                    </p>
                    <img src="{{ asset('/images/learn/sizing-prize/sizing-prize-why.png') }}" alt=""
                         class="c-learn-article-page__image">
                    {# WHAT #}
                    <h2 class="c-learn-article-page__paragraph-heading">What?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">The business case for an innovation explicits the end game: the incremental value we’re going for.</span>
                        It captures the slice your innovation could take inside a specified opportunity AND how you plan
                        to grow revenue with it. It should be done according to your innovation’s growth model (Fast
                        Growth or Slow Build).<br><br>
                        As for the Value Proposition and the Consumer Benefit, you should start this thinking at the
                        beginning of your project, and move from hypothesis to facts as you learn. Of course, in
                        ideation stage, you may not have answers to all questions. That’s why coming back regularly to
                        update your business case is important as you move on. This way, you can align your costs as you
                        explore options with operations. You help market companies understand how this innovation will
                        help them grow revenue. And you keep flexibility to kill an idea that does not have enough legs.
                        <br><br>
                        The business case for innovation should cover these 5 areas:
                    </p>
                    <br/>
                    <ul class="c-learn-article-page__list margin-bottom-0">
                        <li><span class="bold">HOW BIG</span> in volume / value is the market opportunity you are
                            tapping into, and how much you think you can grab from it?
                        </li>
                        <li><span class="bold">INSTEAD OF WHAT</span> will consumers buy your innovation (competitors
                            and Pernod Ricard brands)?
                        </li>
                        <li>What is your <span class="bold">REVENUE GROWTH</span> strategy (including pricing,
                            promotion, mix strategy…)
                        </li>
                        <li>What will be your <span class="bold">COST</span> structure… ?</li>
                        <li class="padding-bottom-0">What is the best <span class="bold">ROUTE TO MARKET</span> to capture profit with this
                            innovation?
                        </li>
                    </ul>
                    <div class="c-learn-article-page__quote">
                        <div class="title">
                            <span class="quote-left"></span>
                            <span>
                                Risk comes from not knowing<br>what you're doing
                            </span>
                            <span class="quote-right"></span>
                        </div>
                        <div class="subtitle">Warren Buffett</div>
                    </div>
                    {# HOW #}
                    <h2 class="c-learn-article-page__paragraph-heading">How?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">Start with a very specific source of business, that you can easily identify.</span>
                        Of course once your innovation scales, it could tap into peripheral business areas. But as an
                        innovation’s value is contextual, always start by localizing the opportunity in specific
                        market(s). Don’t forget to involve your partner market from the start!
                        <br><br>
                        Eg: the shot market in the US.
                        <br><br>
                        Are there any other players offering something similar out there? Are they strongly established
                        or relatively new? How are they priced? From this analysis, you can draw a realistic hypothesis
                        on how much you think you can grab from this opportunity, and the rationale behind the why.
                        <br><br>
                        Eg: we will take 10% of Jägermeister in the US in 3 years because…
                        <br><br>
                        Now you have an idea of the potential, think of your pricing strategy. Have the consumer
                        “willingness to pay” talk early, by benchmarking the market, testing & learnings with consumers.
                        Also, think not only about the right pricing but about the revenue model. How you charge is
                        often more important than how much you charge. Draft your business case using consumers’
                        willingness-to-pay data, and establish links between price, value, volume, and cost.
                        <br><br>
                        Price indexes can be useful to work with. If your innovation has a motherbrand, at what index
                        above will it be priced (if no motherbrand: use a competitor), and why? Also, think about the
                        index as a threshold the other way around: below what index should you NOT launch to avoid
                        losing money?
                        <br><br>
                        Keep in mind that price is part of the value consumers perceive – or don’t perceive. Too low,
                        they might doubt quality – and you will struggle bringing it back up. Too high can be repulsive.
                        Your price should cover your COGS properly, but also convey the value of your innovation. And
                        responds to consumers’ willingness-to-pay. Try to avoid promotion at launch, it will be hard to
                        reset price and you impact your brand equity. And keep in mind that an innovation, as a
                        permanent addition to your portfolio, will take time to deliver ROI.
                        <br><br>
                        <span class="bold">
                           Get in touch with your local Revenue Growth manager who can help you build your business case.
                        </span>
                    </p>
                    {# CHALLENGES #}
                    <h2 class="c-learn-article-page__paragraph-heading">Challenges</h2>
                    <p class="c-learn-article-page__paragraph">
                        Creating incremental & sustainable value with an innovation is a real challenge! Even a great
                        value strategy from the start does not guarantee that your innovation will be profitable. But it
                        does help, a lot. As do continuous adjustments on all aspects of your business case along the
                        journey.
                    </p>
                    {# QUESTIONS #}
                    <h2 class="c-learn-article-page__paragraph-heading">6 Questions to have in mind</h2>
                    <ul class="c-learn-article-page__list">
                        <li>Instead of what (competitors / Pernod Ricard SKUs) do you think consumers will buy your product?</li>
                        <li>Are your investments adapted to the size of the opportunity?</li>
                        <li>Are you working closely with operations to scope COGS?</li>
                        <li>Will consumers see your product or service as a major purchase, a mid-range purchase or an incidental purchase?</li>
                        <li>What are your key markets?</li>
                        <li>Is your price index set to deliver value?</li>
                    </ul>
                </div>
                {# <div class="c-learn-article-page__overflowing-content"></div> #}
            </div>
             <div class="c-learn-article-page__sidebar">
                <div class="padding-60 padding-left-40 padding-right-40">
                    <h2 class="c-learn-article-page__sidebar-headline">External Inspiration</h2>
                    <div class="c-learn-article-item__element standalone">
                        <a href="http://monetizinginnovation.com/"
                           target="_blank">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/sizing-prize/article-monetizing-innovation.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Monetizing Innovation: How Smart Companies Design the Product Around the Price
                            </div>
                        </a>
                    </div>
                    <div class="c-learn-article-item__element standalone padding-top-30">
                        <a href="https://hbr.org/2015/01/any-value-proposition-hinges-on-the-answer-to-one-question?referral=03758&cm_vc=rr_item_page.top_right"
                           target="_blank">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/sizing-prize/article-hbr-value-proposition.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Any Value Proposition Hinges on the Answer to One Question, on Harvard Business Review
                            </div>
                        </a>
                    </div>
                    <div class="c-learn-article-item__element standalone padding-top-30">
                        <a href="http://fortune.com/2016/09/21/business-revenue-models/" target="_blank">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/sizing-prize/article-great-new-product.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                You Have a Great New Product. Here's What You Need to Think About Next, on Fortune
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}