{% extends 'base.html.twig' %}
{% set page_title = 'Incubation' %}
{% block body %}
    <div class="c-learn-article-page__article" style="">
        <div class="position-relative overflow-hidden">
            <div class="c-learn-article-page__content">
                <div class="padding-left-40 padding-right-40">
                    <h2 class="c-learn-article-page__heading">Incubation</h2>
                </div>
                <div class="c-learn-article-page__hero">
                    <img
                            class="c-learn-article-page__hero-image"
                            src="{{ asset('/images/learn/incubation/incubate-hero.jpg') }}"
                    />
                    <div class="c-learn-article-page__hero-triangle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                            <polygon fill="white" points="100,0 0,100 0,0"/>
                        </svg>
                        <div class="c-learn-article-page__meta">
                            <div class="padding-left-40 margin-top-20">
                                3-4 mn reading
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-left-40 padding-right-40">
                    {# INTRO #}
                    <div class="c-learn-article-page__introduction">
                        Incubation requires thinking out of the box to unlock
                        Innovation business potential and to amplify an
                        Innovation share of voice once officially in market.
                    </div>
                    <img src="{{ asset('/images/learn/incubation/incubate-funnel.png') }}" alt="" class="c-learn-article-page__image">
                    {# WHY #}
                    <h2 class="c-learn-article-page__paragraph-heading">Why?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">Incubation is learning about the product market fit.</span> It is necessary to capture
                        the recipe for success before full scale to ensure sustainable revenue. It is about
                        finding the most effective route to market to reach early adopters. It’s about unlocking business impact, testing and learning on disruptive activations and fine-
                        tuning a market positioning. <br/>
                        <br/>
                    <span class="medium">
                        Remember that every time you bring a new innovation to market, you are
                        adding one more SKU in the market place so your argument must be a strong one.
                    </span>
                    </p>
                    <img src="{{ asset('/images/learn/incubation/incubate-why.png') }}" alt="" class="c-learn-article-page__image">
                    {# WHAT #}
                    <h2 class="c-learn-article-page__paragraph-heading">What?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">Soft launch the offer in a defined geographical scope</span> (small region) to size the
                        business opportunity while <span class="medium">consuming the fewest time & resources</span>. It’s about
                        making sure <span class="medium">you ask the right questions to understand how much you could
                    grab with your new offer</span> and learn instead of what people will buy your
                        innovation. For services, this phase is all about understanding the business model
                        to make sustainable revenues. <br/><br/>

                        If you wonder "How do I capture the recipe for success needed before
                        expansion?" Test some activations in a defined geographical scope to understand
                        how to get the best share of voice with limited resources.
                    </p>
                    <div class="c-learn-article-page__quote">
                        <div class="title">
                            <span class="quote-left"></span>
                        <span>
                            Innovation is not about ideas, it’s about <br/>
                            making ideas happen.
                        </span>
                            <span class="quote-right"></span>
                        </div>
                        <div class="subtitle">Scott Belsky</div>
                    </div>
                    {# HOW #}
                    <h2 class="c-learn-article-page__paragraph-heading">How?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">Partner with some chains</span>, make some exclusive deals to start with. It requires a
                        structured approach to capture evidences on the field:
                    </p>
                    <img src="{{ asset('/images/learn/incubation/incubate-how.png') }}" alt="" class="c-learn-article-page__image">
                    <ul class="c-learn-article-page__list">
                        <li>Sizing the size of the price on a geographical scope targeting early adopters &amp; understand instead of what people will buy your innovation</li>
                        <li>Choosing the most effective Route to Market Strategy and In market positioning</li>
                        <li>Launching the offer with an exclusivity to a partner for a limited period and learn how to say NO to other customers</li>
                        <li>Collecting feedbacks, iterating, capturing best practices to be ready for expansion</li>
                    </ul>
                    {# WHEN #}
                    <h2 class="c-learn-article-page__paragraph-heading">When?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">After Capex investment</span>, at this phase core product iteration would cost a lot money.
                    </p>
                    {# TIMING #}
                    <h2 class="c-learn-article-page__paragraph-heading">Timing?</h2>
                    <p class="c-learn-article-page__paragraph">
                        <span class="bold">Speed in the validated learning</span> (test &amp; learn feedback loop: build, measure,
                        learn) means you do something right! It shall last enough time to understand
                        repurchase, in between 3 &amp; 6 months on incremental ideas and up to 2 years on
                        breakthrough ideas.
                    </p>
                    {# CHALLENGES #}
                    <h2 class="c-learn-article-page__paragraph-heading">Challenges</h2>
                    <p class="c-learn-article-page__paragraph">
                        Hundreds of innovations are introduced every year, getting a share of voice in
                        market is difficult but critical.
                    </p>
                    {# QUESTIONS #}
                    <h2 class="c-learn-article-page__paragraph-heading">Questions to have in mind</h2>
                    <ul class="c-learn-article-page__list">
                        <li>Where should I soft launch?</li>
                        <li>What current partners can help me?</li>
                        <li>What activities do I need to do to learn about market fit?</li>
                        <li>What is the lowest investment I can do to learn it?</li>
                        <li>How long before expansion?</li>
                        <li>What information do I need to track?</li>
                        <li>What criteria shall I put in place for my dashboard?</li>
                        <li>Do I review the progress on a regular basis to make decisions and move forward?</li>
                    </ul>
                </div>
                {# <div class="c-learn-article-page__overflowing-content"></div> #}
            </div>
            <div class="c-learn-article-page__sidebar">
                <div class="c-learn-article-page__grey-bg">
                    <div class="padding-60 padding-left-40 padding-right-40">
                        <h2 class="c-learn-article-page__sidebar-headline">Pernod Ricard Story</h2>
                        <div class="c-learn-article-item__element standalone">
                            <a href="https://www.youtube.com/watch?v=ZGktWUIYKIA&t=2s" target="_blank">
                                <div class="c-learn-article-item__thumbnail" style="background-image:url('{{ asset('/images/learn/experimentation/video-jameson-experimentation.jpg') }}');"></div>
                                <div class="c-learn-article-item__title">
                                    Jameson Experimentation
                                </div>
                            </a>
                            <div class="c-learn-article-item__meta">
                                2:02
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-60 padding-left-40 padding-right-40">
                    <h2 class="c-learn-article-page__sidebar-headline">External Inspiration</h2>
                    <div class="c-learn-article-item__element standalone">
                        <a href="https://www.youtube.com/watch?v=blNnydcX4j8" target="_blank">
                            <div class="c-learn-article-item__thumbnail" style="background-image:url('{{ asset('/images/learn/incubation/video-go-beyond.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Beyond orthodoxies - Mohanbir Sawhney - Kellogg School of Management
                            </div>
                        </a>
                        <div class="c-learn-article-item__meta">
                            1:50
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}