{% extends 'base.html.twig' %}
{% set page_title = 'Learn' %}
{% block body %}
    <div class="full-content-page-learn-list">
        <h1 class="heading font-size-48 text-align-center margin-top-20">
            Learn
        </h1>
        <div class="font-work-sans-500 font-size-21 text-align-center color-000 padding-top-10 line-height-1">
            Grow your innovator skills
        </div>
        <div class="text-align-center margin-top-20 position-relative z-index-2">
            <div class="font-montserrat-700 beta-version-chip">Beta version</div>
        </div>
        <div class="font-work-sans-400 font-size-18 color-000 padding-top-60 line-height-1-5 text-align-left margin-auto margin-bottom-60 central-content-994">
            Being an innovator is not just about having a good idea: it is about dealing with all the challenges that
            come
            along the journey. At every step you will need to make decisions, work with different experts in your team,
            in
            the Group, to go from hypothesis to facts, from idea to sustainable business value. <br/>
            <br/>
            Because it is not an easy task, we’ve designed this new section for you to learn more about the key topics
            that
            will help you take your innovation further.
        </div>
        <div class="central-content-994 padding-bottom-60">
            <div class="content-list-learn overflow-hidden">
                <div class="c-learn-list-content-article">
                    <div class="c-learn-article-item__element">
                        <a href="{{ path('learn_article', { 'slug': 'stage-experimentation' }) }}">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/experimentation/experiment-hero.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Experimentation
                            </div>
                        </a>
                        <div class="c-learn-article-item__preview">
                            Experimentation requires an Entrepreneurial spirit. It is an attitude that embraces critical
                            questioning, follow…
                        </div>
                        {# <div class="c-learn-article-item__author">
                            By <a href="#">Clarisse Daniels</a>
                        </div> #}
                        <div class="c-learn-article-item__meta">
                            4-5 mn read
                        </div>
                    </div>
                </div>
                <div class="c-learn-list-content-article">
                    <div class="c-learn-article-item__element">
                        <a href="{{ path('learn_article', { 'slug': 'stage-incubation' }) }}">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/incubation/incubate-hero.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Incubation
                            </div>
                        </a>
                        <div class="c-learn-article-item__preview">
                            Incubation requires thinking out of the box to unlock Innovation business potential and to
                            amplify
                            an
                            Innovati…
                        </div>
                        {# <div class="c-learn-article-item__author">
                            By <a href="#">Clarisse Daniels</a>
                        </div> #}
                        <div class="c-learn-article-item__meta">
                            3-4 mn read
                        </div>
                    </div>
                </div>
                <div class="c-learn-list-content-article">
                    <div class="c-learn-article-item__element">
                        <a href="{{ path('learn_article', { 'slug': 'nailing-unique-vp' }) }}">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/nailing/nailing-vp-hero.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Nailing a unique value proposition
                            </div>
                        </a>
                        <div class="c-learn-article-item__preview">
                            A unique value proposition is a short, clear and compelling message that states WHAT’S NEW
                            in
                            your
                            innovation,…
                        </div>
                        {# <div class="c-learn-article-item__author">
                            By <a href="#">Clarisse Daniels</a>
                        </div> #}
                        <div class="c-learn-article-item__meta">
                            6-7 mn read
                        </div>
                    </div>
                </div>
                <div class="c-learn-list-content-article">
                    <div class="c-learn-article-item__element">
                        <a href="{{ path('learn_article', { 'slug': 'consumer-benefit' }) }}">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/consumer-benefit/consumer-benefit-hero.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Defining a consumer benefit
                            </div>
                        </a>
                        <div class="c-learn-article-item__preview">
                            Capturing the consumer benefit means you have a clear understanding of who will be ready to
                            pay
                            for
                            your
                            innovat…
                        </div>
                        {# <div class="c-learn-article-item__author">
                            By <a href="#">Clarisse Daniels</a>
                        </div> #}
                        <div class="c-learn-article-item__meta">
                            4-5 mn read
                        </div>
                    </div>
                </div>
                <div class="c-learn-list-content-article">
                    <div class="c-learn-article-item__element">
                        <a href="{{ path('learn_article', { 'slug': 'sizing-the-prize' }) }}">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/sizing-prize/sizing-prize-hero.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Sizing the prize
                            </div>
                        </a>
                        <div class="c-learn-article-item__preview">
                            Innovation’s purpose is to deliver new value, for consumers and for our business. As you are
                            going
                            to
                            inves…
                        </div>
                        {# <div class="c-learn-article-item__author">
                            By <a href="#">Clarisse Daniels</a>
                        </div> #}
                        <div class="c-learn-article-item__meta">
                            4-5 mn read
                        </div>
                    </div>
                </div>



                <div class="c-learn-list-content-article">
                    <div class="c-learn-article-item__element">
                        <a href="{{ path('learn_article', { 'slug': 'new-business' }) }}">
                            <div class="c-learn-article-item__thumbnail"
                                 style="background-image:url('{{ asset('/images/learn/sizing-prize/sizing-prize-hero.jpg') }}');"></div>
                            <div class="c-learn-article-item__title">
                                Sizing the prize
                            </div>
                        </a>
                        <div class="c-learn-article-item__preview">
                            Innovationnnn’s purpose is to deliver new value, for consumers and for our business. As you are
                            going
                            to
                            inves…
                        </div>
                        {# <div class="c-learn-article-item__author">
                            By <a href="#">Clarisse Daniels</a>
                        </div> #}
                        <div class="c-learn-article-item__meta">
                            4-5 mn read
                        </div>
                    </div>
                </div>








            </div>
        </div>
    </div>
{% endblock %}